*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .div_main{
  background-color: blueviolet;
  width: 100%;
  height: 100vh;
  align-items: center;
  align-content: center;
  display: flex;
}

.div_center{
  width: 250px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 450px;
  box-shadow: 2px 4px 2px 2px;
} */

.div-heading{
  background-color: rgb(61, 191, 252);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: white !important;
}

/* a:hover{
  border-bottom: 1px solid lightgreen;
  color: lightgreen;
} */

.login_div{
  border: 1px solid black;
  width: 30%;
  height: 400px;
  
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.login_div > h4{
  background-color: aquamarine;
  width: 100%;
  height: 50px;
  align-items: center;
  box-shadow: 0 0 10px rgb(11, 12, 12);
  color: white;
  font-size: 20px;
  text-align: center;
}


.product_div{
  width: 100vw;
}

.card{
  box-shadow: 0 0 20px black;
  width: 300px;
  height: 400px;
  margin: 20px;
  float: left;
}

.cardimage{
  width: 100%;
  height: 250px;  
}

.cardimage img{
  width: 100%;
  height: 250px;
}

.cardbody{
  margin-left: 10px;
  margin-top: 10px;
}

.cardbody > div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardbody div p{
  font-size: 24px;
}

/* button{
  margin-top: 20px;
  width: 100px;
  height: 30px;
} */

.card:hover{
  transform: scale(1.1,1.1);
}